body{
  background-color: #f4feff;
}
nav{
  background-color: #f4feff;
  font-size: 1.5em;
}
.nav-link active{
  color: #14869d;
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.nom{
  font-family: 'Satisfy', sans-serif;
  font-size: 4em;
  color: #14869d;
}
h2, h3, h4{
  font-family: 'Yeseva One', serif;
  color: #000000;
}
p, li{
  font-family: 'Josefin Sans', sans-serif;
}
.main{
  height: 70vh;
}
.img-round{
  border-radius: 50%;
  width: 300px;
}
.galery{
  width: 350px; 
  height: 250px; 
  object-fit: cover;
  border: 0.5px solid rgb(228, 228, 228);
}
.galery-title{
  width: 350px;
  display: flex;
  justify-content: center;
}
.carousel-img{
  width: 600px; 
  height: 400px;
  border: 0.5px solid rgb(228, 228, 228); 
  border-radius: 5px;
}
.carousel-control-prev{
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}
.carousel-control-next{
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}
.liens{
  text-decoration: none;
  color: #14869d;
}
.icon{
  font-size: 2em;
  color: #14869d;
}
.icon-main{
  font-size: 3em;
}
.icon-comp{
  font-size: 2em;
  color: #14869d;
}
li{
  line-height: 3;
}
#form-message-warning, #form-message-success {
  display: none; 
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; 
}
#form-message-warning {
  color: #B90B0B; 
}
